dataset_generator/weatherstats_london_normal_daily-2.csv
dataset_generator/london_ridership_trip_generation.csv
dataset_generator/london_weather_hourly_estimated.csv

# Data
data/

# Caches
**/cache/

# Python
.venv
**/__pycache__/

# MacOS
**/.DS_Store
